<div class="container bg-light shadow p-3 text-center ">
  <table class="table table-bordered align-middle mt-4 bg-light table-hover">
    <caption class="caption-top p-2 mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="m-0">Categories</h5>
        <a href="/admin/addcategory" class="btn btn-success">Add New Category</a>
      </div>
    </caption>
    <thead>
      <tr>
        <th>Image</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

      {{#each catData}}
      <tr>
        <td>
          <img src="/images/{{this.image}}" alt="" style="width:150px; height:150px; object-fit:cover;">
        </td>
        <td>{{this.category}}</td>
        <td>{{this.desc}}</td>
        <td class="text-center">
          <a href="/admin/editcategory/{{this._id}}" class="btn btn-primary px-2 py-0 me-2"><small>Edit</small></a>
          <a href="/admin/deletecategory/{{this._id}}" class="btn btn-danger px-2 py-0"> <small>Delete</small></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>